.currency {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 70px;
}

#currency__input {
  max-width: 70px;
  margin-bottom: 10px;
}

#currency_result {
  max-width: 70px;
  margin-bottom: 10px;
}

#currency__btn {
  max-width: 90px;
  margin-bottom: 10px;
}

#currency__choice {
  max-width: 120px;
  margin-bottom: 10px;
}

.currency_rev {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 270px;
}

#currency_rev__input {
  max-width: 70px;
  margin-bottom: 10px;
}

#currency_rev_result {
  max-width: 70px;
  margin-bottom: 10px;
}

#currency_rev__btn {
  max-width: 90px;
  margin-bottom: 10px;
}

#currency_rev__choice {
  max-width: 120px;
  margin-bottom: 10px;
}
